body {
    background-color: floralwhite;
    margin-left: 400px;
    margin-top: 60px;
}

.container {
    display: grid;
    column-gap: 5px;
    align-items: flex;
}
.img img {
    width: 180px;
    height: 150px;
    display: block;
    margin-right: 10px;

}
.maintext h2 {
    font-size: large;
    flex-direction: column;
}
.maintext h1 {
    font-size: small;
    color: gray;
}

}
