*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0); 
    padding: 1px;
}

.platform{
    width: 100%;
    max-width: 720px;
    min-height: 830px;
    background-color: rgb(16, 16, 16);
    margin: 5px auto 10px;
    border-radius: 10px;
}

.header1{
    font-family: monospace;
    color: white;
    text-align: center;
    padding: 20px;
    padding-bottom: 2px;
    letter-spacing: 1px;
    font-size: 20px;
}

.header1:hover {
    color: beige;
    font-size: 21px;
    letter-spacing: 5px;
    transition: all 0.3s ease-in-out;
}

.header2{
    color: beige;
    font-family: monospace;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 1px;
    padding-bottom: 50px;
    font-size: 10px;
}
.profile {
    display: flex;
    font-family: monospace;
    margin: 0px auto 0px;
    padding: 10px;
    padding-left: 100px;
    gap: 20px
    
}

.profile-item p {
    padding-top: 10px;
    color: beige;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: monospace;
    align-items: center;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 300px;
    box-shadow: 
        -5px -5px 10px rgb(22, 22, 22),
        5px 5px 10px rgb(10, 10, 10); 
}


.profile-info{
    padding-top: 30px;
    flex-direction: column;
    border-bottom: 1px dashed #1c1c1E;
    border-top: 1px dashed #1c1c1E;
}

.header3{
    font-size: 15px;
    color: whitesmoke;
    font-family: monospace;
    padding-top: 50px;
    padding-left: 100px;
    letter-spacing: 3px;
}

.the-Feeds{
    padding-top: 40px;
    color: whitesmoke;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
}

.html{
    display: flex;
    color: whitesmoke;
    gap: 10px;
    padding-bottom: 50px;
}
.html img{
    width: 200px;
    height: 180px;
}

.html-info{
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    gap: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.CSS{
    color: whitesmoke;
    display: flex;
    gap: 10px;   
    padding-bottom: 50px;
}

.CSS img{
    width: 180px;
    height: 180px;
}

.CSS-Info{
    margin: 10px;
    gap: 5px;
    display: flex;
    text-align: justify;
    flex-direction: column;
}

.odin-recipe-project {
    color: whitesmoke;
    display: flex;
    gap: 25px;   
    padding-bottom: 50px;
}

.odin-image img {
    width: 200px;
    height: 180px;
}

.odin-Recipe-Info{
    margin: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.odin-Recipe-Info a {
    text-decoration: none;
}

.odin-title {
    letter-spacing: 2px;
}


.framework{
    font-family: monospace;
    display: flex;
    gap: 20px;
    letter-spacing: 5px;
    
}

.framework img{
    width: 180px;
    min-height: 180px;
}

.framework-info{
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.About{
    gap: 5px;
    font-family: monospace;
    padding-top: 50px;
    color: whitesmoke;
    text-align: center;
}